.container {
  padding: 26px 26px 100px;
}

.title {
  font-size: 1.2rem;
  font-weight: 800;
  color: #1a1a1a;
}

.description {
  margin-top: 10px;
  color: #888;
  line-height: 1.4;
}

.input {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;

  &:focus {
    outline: none;
    border-color: #007bff;
  }
}

.cta {
  position: fixed;
  right: 20px;
  bottom: calc(env(safe-area-inset-bottom) + var(--kb-offset) + 20px);
  left: 20px;
  z-index: 1000;
}

.button {
  display: block;
  width: 100%;
  height: 46px;
  padding: 10px;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  border: none;
  font-weight: 600;
  cursor: pointer;

  &:active {
    background-color: #0056b3;
  }
}

.link {
  display: inline-block;
  margin-top: 20px;
  color: #007bff;
  text-decoration: underline;
}

.long_content {
  margin-top: 20px;
}
