.bottom_fixed_area {
  opacity: 1;
  position: fixed;
  right: 20px;
  bottom: 0;
  left: 20px;
  z-index: 1000;
  will-change: transform;
  transform: translateY(calc(var(--kb-offset, 0px) - 20px));
  transition: opacity 0.2s ease-in-out;
}


.bottom_fixed_area.hide {
  opacity: 0;
}
